<section class="relative container mx-auto shadow-md">
  <div>
    <div class="flex items-center justify-between py-4 px-4">
      <h1 routerLink="/" class="font-bold cursor-pointer"><span class="text-[#407cf3]">Lock</span>ey</h1>
      <div class="cursor-pointer py-2 ">
        <button routerLink="/login" class="btn py-1 mr-4">LogOut</button>
        <!-- <i (click)="toggleNight()" *ngIf="!isNight" class="transition-all duration-500 text-2xl cursor-pointer fa-solid fa-moon"></i>
        <i (click)="toggleNight()" *ngIf="isNight" class="transition-all duration-500 text-2xl cursor-pointer fa-solid fa-sun"></i> -->
      </div>
    </div>
  </div>
</section>
