<section class="containershadow-2xl mx-auto my-10">
  <div class="w-full py-10 mx-auto">
    <div class="w-full flex flex-col items-center justify-center gap-4 backdrop-blur-3xl fixed inset-0">
      <h1 routerLink="/" class="font-bold cursor-pointer z-10 absolute top-10"><span class="text-[#407cf3]">Lock</span>ey</h1>
      <h1 class="text-2xl font-bold drop-shadow-2xl">Login</h1>
      <div *ngIf="isError" class="bg-red-200 text-red-600 px-4 py-2 rounded-md">Wrong Username or Password !</div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="grid gap-2 w-[60%]" action="">
        <div class="w-full">
          <input class="w-full shadow-md" autocomplete="off" type="email" ngModel name="Email" placeholder="Email">
        </div>
        <div class="w-full">
          <input class="w-full shadow-md" type="password" ngModel name="Password" placeholder="Password">
        </div>
        <button class="w-full shadow-md bg-[#0a66c2] py-2 rounded text-white font-bold">Log In</button>
      </form>
    </div>
  </div>
</section>
