<section class="container md:mx-auto my-20 p-10">
  <div>
    <div class="grid md:grid-cols-2 gap-10 py-4">
      <div class="flex flex-col items-center justify-between gap-2 shadow-lg px-4 py-4 rounded border-t-2 border-r-2">
        <img class="rounded object-cover object-center" [src]="siteDetails.image" alt="">
        <h1 class="font-bold capitalize">{{siteDetails.name}}</h1>
        <p class="text-[#5699db] text-center text-sm w-full tracking-widest italic px-2 py-1 rounded-lg cursor-pointer">
          {{siteDetails.url}}</p>
      </div>
      <div class="flex flex-col items-center gap-2 shadow-lg py-4 rounded border-t-2">
        <h1 class="font-bold capitalize">{{formState}} user and password</h1>
        <p>You can {{formState}} user & password from below form</p>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="w-full flex flex-col items-center gap-2 mt-2">
          <div class="flex flex-col gap-2">
            <label>Email</label>
            <input [(ngModel)]="email" autocomplete="none" class="w-fulpassl flex-[2]" type="text" name="email">
          </div>
          <div class="flex flex-col gap-2">
            <label>Username</label>
            <input [(ngModel)]="username" autocomplete="none" type="text" name="username">
          </div>
          <div class="flex flex-col gap-2">
            <label>Password</label>
            <input [(ngModel)]="password" autocomplete="none" type="password" name="password">
          </div>
          <button class="btn whitespace-nowrap font-semibold py-2">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div>
    <div class="hidden md:flex items-center w-full overflow-x-auto shadow-lg p-4 font-bold">
      <div class="flex-[4] mr-2">Email</div>
      <div class="flex-[3] mr-2">Username</div>
      <div class="flex-[3] mr-2">Password</div>
      <div class="flex-[2] ">Actions</div>
    </div>


    <div *ngFor="let pass of passList;index as i"
      class="hidden md:flex items-center w-full overflow-x-auto shadow mt-6 p-4">
      <div class="flex-[4]">{{pass.email}}</div>
      <div class="flex-[3]">{{pass.username}}</div>
      <div class="flex-[3] truncate">
        {{pass.password}}
        <button (click)="onDecrypt(pass.password,i)"
          class="float-right px-2 bg-red-500 text-white text-xs font-bold rounded-md mr-2 mt-2">Decrypt</button>

      </div>
      <div class="flex-[2] flex gap-2 md:gap-6">
        <button (click)="onEdit(pass.email,pass.username,pass.password,pass.id)"
          class="btn bg-black hover:scale-110 transition-all duration-500 flex items-center justify-center rounded-lg md:py-3 text-yellow-500">Edit</button>
        <button (click)="onDelete(pass.id)"
          class="btn hover:scale-110 transition-all duration-500 md:py-3 bg-black text-red-500 flex items-center justify-center rounded-lg">Delete</button>
      </div>
    </div>

    <!--             Mobile view               -->

    <div class="w-full grid gap-4 md:hidden my-4">
      <!-- <h1 *ngIf="passList | async" class="text-center font-bold my-2">Account List</h1> -->
      <div *ngFor="let pass of passList"
        class="w-full flex flex-col gap-4 shadow-lg py-10 px-2 rounded-md border-[1px] border-slate-300">
        <div class="flex items-center justify-between">
          <h2 class="font-bold">Email</h2>
          <p>{{pass.email}}</p>
        </div>
        <div class="flex items-center justify-between">
          <h2 class="font-bold">Username</h2>
          <p>{{pass.username}}</p>
        </div>
        <div class="flex items-center justify-between">
          <h2 class="font-bold">Password</h2>
          <div>
            <p class="truncate w-44">{{pass.password}}</p>
            <button (click)="decryptPass(pass.password)"
              class="float-right px-2 bg-red-500 text-white text-xs font-bold rounded-md">Decrypt</button>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <h2 class="font-bold">Actions</h2>
          <p class="flex gap-2"><button (click)="onEdit(pass.email,pass.username,pass.password,pass.id)"
              class="btn bg-black hover:scale-110 transition-all duration-500 flex items-center justify-center rounded-lg py-2 text-yellow-500"><i
                class="fa-solid fa-pen-to-square"></i></button>
            <button (click)="onDelete(pass.id)"
              class="btn hover:scale-110 transition-all duration-500 py-2 bg-black text-red-500 flex items-center justify-center rounded-lg"><i
                class="fa-solid fa-trash"></i></button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
